.loading-screen {
    height: 0;
    width: 0;
    .blur {

    }
    .i {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        .translate(-50%, -50%);
    }
}