#loading {
    .un-full;
    .loading-screen {
        .user-select(none);
        position: fixed;
        z-index: 9999;
        overflow: hidden;
        .hide-after(1s);
        .wrapper-blur {
            .animated(1s);
            .fadeOut;
        }
        .icon {
            position: fixed;
            top: 50%;
            left: 50%;
            .translate(-50%, -50%);
            i.fa {
                color: #fff;
            }
        }
        //active
        &.active{
            .wrapper-blur{
                .fadeIn;
            }
        }
    }
}